@font-face {
  font-family: "latio";
  src: url(../Fonts/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "latio";
  src: url(../Fonts/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "latio";
  src: url(../Fonts/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "latio";
  src: url(../Fonts/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "latio";
  src: url(../Fonts/Lato-Semibold.ttf);
  font-weight: 600;
}
