.header {
  height: 85px;
}

.header__wrapper {
  display: flex;
  height: 85px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 25px;
  fill: var(--lightgreen);
}

.header__nav-list {
  display: flex;
  gap: 72px;
}

.header__nav-item {
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}

.btn {
  color: var(--bg-white);
  width: 183px;
  height: 51px;
  outline: none;
  background-color: transparent;
  border: none;

  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  background-color: var(--lightgreen);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn__bacground {
  background-color: transparent;
  color: var(--black);
}

.header__nav-item:hover,
.btn__bacground:hover {
  color: var(--lightgreen);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header__wrapper {
    justify-content: space-around;
  }

  .header__nav-list {
    text-wrap: nowrap;
    gap: 30px;
  }

  .btn {
    width: 133px;
  }
}

@media (max-width: 992px) {
  .header__nav-item {
    font-weight: 500;
    font-size: 14px;
  }

  .logo {
    width: 60px;
  }

  .btn {
    width: 150px;
    height: 45px;
    font-weight: 400;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .logo {
    padding: 0 0 0 20px;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 150px;
    height: 40px;
  }
  .header__wrapper {
    display: flex;

    padding: 10px 0;
    height: 100%;
    flex-direction: column;
    gap: 20px;
  }
}
