.third__wrapper {
  display: flex;
  gap: 87px;
  margin: 115px 0 242px 0;
}

.third__left {
  position: relative;
  padding-left: 80px;
}

.third__left-desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 300px;

  height: 300px;
  background-color: var(--bg-white);
  border-radius: 10px;
  gap: 22px;
  top: 340px;
  left: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.left-desc-head {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: var(--black);
}

.left-desc-head::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: -9px;
  left: 0px;
  right: 0px;
  background-color: var(--black);
}

.secondd_img {
  border-radius: 50%;
  max-width: 70px;
  max-height: 70px;
  object-fit: cover;
}

.left-desc-name {
  font-weight: 400;
  font-size: 11px;
  line-height: 157%;
  color: var(--black);
}

.left-desc-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 157%;
  color: var(--black);
}

.left-desc-list {
  text-align: start;
}

.left-desc-list-items {
  list-style: disc;
  font-weight: 400;
  font-size: 10px;
  line-height: 157%;
  color: var(--black);
}

.img_third {
  max-width: 640px;
  width: 100%;
  height: 574px;
  height: 100%;
}

.third__right {
  max-width: 530px;
}

.third__right-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: var(--black);
}

.third__right-desc {
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: var(--lightgreen);
  margin: 30px 0;
}

.third__right-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 157%;
  columns: var(--font-color);
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .third__left {
    padding-left: 0;
  }
  .third__left-desc {
    display: NONE;
  }

  .third__wrapper {
    gap: 30px;
    margin: 115px 0 100px 0;
  }
  .third__right {
    max-width: 350px;
  }

  .third__right-title {
    font-size: 20px;
  }

  .third__right-desc {
    margin: 10px 0;
    font-size: 40px;
    margin: 20px 0;
  }
  .third__right-text {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .third__wrapper {
    gap: 20px;
    margin: 115px 0 100px 0;
  }
  .third__right {
    max-width: 300px;
  }

  .third__right-title {
    font-size: 16px;
  }

  .third__right-desc {
    margin: 10px 0;
    font-size: 25px;
    margin: 20px 0;
  }
  .third__right-text {
    margin-bottom: 16px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .third__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
